{
  "*.{md,json}": [
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "eslint --fix --ext .js,.jsx",
    "prettier --write"
  ],
  "*.ts?(x)": [
    "eslint --fix --ext .ts,.tsx",
    "prettier --parser=typescript --write"
  ]
}
