{
  "*.{md,json}": [
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "eslint --fix --eslint-only",
    "prettier --write"
  ],
  "*.{css,less}": [
    "eslint --fix --stylelint-only",
    "prettier --write"
  ],
  "*.ts?(x)": [
    "eslint --fix --eslint-only",
    "prettier --parser=typescript --write"
  ]
}
